.hero{
    width: 100%;
    min-height: 60vh;
    background: linear-gradient(#0a01458e,rgba(0, 41, 58, 0.573)), url('https://smartcookie-design.co.uk/img/posts/25-watch-brands-for-eCommerce-Inspirations-banner2.jpg') ;
    background-size: cover;
    background-position: center;
    color:#fff ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.hero-text{
    text-align: center;
    max-width: 800px;
}
.hero-text h1{
font-size: 60px;
font-weight: 600;
}
.hero-text p{
max-width: 700px;
margin: 10px auto 20px;
line-height: 1.4;
}